html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Dance
    style
      include style.css
    link(rel='shortcut icon' href='da21.jpg')
  body
    nav
      p#p_t1 The
      p#p_t2 Da
      button#btn_sign_in
        p(style='color: white;') Sign In
    #side1.side_divs
      p RELATED
    #side2.side_divs
      p#join
        a(href='#f_sign') JOIN NOW
    #t_bale
      img#landing_img(src="landing-rev-img-1.jpg" alt='')
      h1#make_the make the
      p#perfect_dance_move(align='center') PERFECT DANCE MOVE
      #hr_line
        p#h Hello
      #PURCHASE_div
        p PURCHASE
    #bg_white
      p(style='visibility: hidden;') Hello
      p#beauty_set Beautiful Set
      p#enlighten Enlighten your Future
    img#right_side_img(src='/landing-background-img-1.png' alt='' srcset='')
    .ami
      p(style='visibility: hidden;') Hello
    #all_behind_img
      #scroll_div1.behind_img
        img.behind_main_img(src="landing-1-img-1-768x432.jpg" alt='' srcset='')
        p.behind_img_name Nobody is Watching
      #scroll_div2.behind_img
        img.behind_main_img(src="landing-1-img-2-768x432.jpg" alt='' srcset='')
        p.behind_img_name Ballet Home
      #scroll_div3.behind_img
        img.behind_main_img(src="landing-1-img-3.jpg" alt='' srcset='')
        p.behind_img_name Latin dance
      #scroll_div4.behind_img
        img.behind_main_img(src="landing-1-img-4-768x432.jpg" alt='' srcset='')
        p.behind_img_name Latin dance
      #scroll_div5.behind_img
        img.behind_main_img(src="landing-1-img-5-768x432.jpg" alt='' srcset='')
        p.behind_img_name Modern dance
      #scroll_div6.behind_img
        img.behind_main_img(src="landing-1-img-6-300x169.jpg", alt='', srcset='')
        p.behind_img_name Dream SchooL
    marquee#marquee_move(behavior='' direction='')
      img(src='landing-2-img-1.png' alt='' srcset='')

    #f_sign
      h1 FILL THE SIGN UP FORM
      form(action='/' method='post')
        input(type='text' name='full_name' placeholder='Full Name')
        input(type='date' name='date_of_birth' placeholder='Date of Birth')
        input(type='number' name='age' placeholder='Age')
        input(type='text' name='address' placeholder='Address')
        input(type='text' name='father_name' placeholder="Father's Name")
        input(type='text' name='mother_name' placeholder="Mother's Name")
        input(type='number' name='contact_number' placeholder='Contact Number')
        input(type='number' name='alt_contact_number' placeholder='Alternative Contact Number')
        input(type='email' name='e_mail' placeholder='e-mail id')
        p Prior Experience
        input(type='checkbox' name='' placeholder='')
        button#btn
            p Submit

    script(src='script.js')