.mDiv {
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mDiv h1 {
    color: black;
    margin: 0px 0px 0px -45px;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0.4rem;
    font-weight: bold;
    font-size: 3rem;
}

.mDiv p {
    font-size: 8rem;
    letter-spacing: 4rem;
    color: rgb(28, 28, 223);
    margin-bottom: 50px;
}

.sadImg {
    background-color: transparent;
}

.message {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
}

.message p:nth-child(2) {
    font-weight: bold;
}

.Link {
    margin: 0px 0px 0px -45px;
    background-color: pink;
    padding: 5%;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
    transition-timing-function: ease-in;
}

.Link:hover {
    background-color: rgb(243, 158, 172);
    color: white;
}